<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/boka.css">
    <title>Document</title>
</head>
<body>
    <div class="fade-layer"></div>
    <div class="container">
        <div class="menu">
            <i class="material-icons" onclick="toggleMenu()">close</i>
            <ul>
                <a href="index.html"><li>Huvudsida<br><br></li></a>
                <a href="om_oss.html"><li>Om oss<br><br></li></a>
                <a href="boka_nu.html"><li>Boka tid<br><br></li></a>
                <a href="kontakta.html"><li>FAQ/Kontakta<br><br></li></a>
                <a href="https://www.google.se/maps?source=tldsi&hl=sv"><li>Våra anläggningar<br><br></li></a>
                <a href="erbjudande.html"><li>Erbjudande</li></a>
            </ul>
        </div>
        <header>
            <h1 class="h1-header">
                Rehabilitering
            </h1>
            <i class="material-icons" onclick="toggleMenu()">menu</i>
        </header>
        <div class="ruta">
            <form class="datum">
                Datum:<br>
                <input type="text" name="År" placeholder="åååå" class="year" maxlength="4">/
                <input type="text" name="Månad" placeholder="mm" class="month" maxlength="2">/
                <input type="text" name="dag" placeholder="dd" class="day" maxlength="2">
                <br><br>
                Tid:<br>
                <input type="text" name="timme" placeholder="tt" class="hour" maxlength="2">:
                <input type="text" name="minut" placeholder="mm" class="minute" maxlength="2">
                <br><br>
                <input type="submit" name="Submit" class="submit" value="Boka">
            </form>
        </div>
    </div>
    <script src="js/menu.js"></script>
</body>
</html>