        <div class="ruta">
            <form class="datum">
                Datum:<br>
                <input type="text" name="År" placeholder="åååå" class="year" maxlength="4">/
                <input type="text" name="Månad" placeholder="mm" class="month" maxlength="2">/
                <input type="text" name="dag" placeholder="dd" class="day" maxlength="2">
                <br><br>
                Tid:<br>
                <input type="text" name="timme" placeholder="tt" class="hour" maxlength="2">:
                <input type="text" name="minut" placeholder="mm" class="minute" maxlength="2">
                <br><br>
                <a href="index-html.erb" class="a_input"><input type="submit" name="Submit" class="submit" value="Boka"></a>
            </form>
        </div>
    </div>
    <script src="js/menu.js"></script>
</body>
</html>