        <div class="REA_erbjudande">
            <h1 class="h1-REA">BOKA NU OCH FÅ 50% PÅ PERSONLIG TRÄNARE</h1>
        </div>
        <div class="boka_erbjudande">
            <a href="boka_nu.html">
                <h2 class="boka_nu_erbjudande">Boka nu</h2>
            </a>
        </div>
    </div>
    <script src="js/menu.js"></script>
</body>
</html>