        <div class="om_oss_index">
            <a href="om_oss.html" class="links">
                <h1 class="titel_om_oss_index">Om oss</h1>
                <p class="text_om_oss_index">Här hos Rehabilitering jobbar vi aktivt 
                med att hjälpa dem i nöd (för en liten peng). <br>
                Vi har personliga tränare, många maskiner och erbjuder hjälp 
                till alla som behöver rehabilitering.
                </p>
            </a>
        </div>
        <div class="erbjudande_index">
            <a href="erbjudande.html" class="links">
                <h1 class="h1-erbjudande_index">Månadens Erbjudande</h1>
                <p class="p-erbjudande_index">Ta tre betala för två</p>
            </a>
        </div>
        <div class="boka_index">
            <a href="boka_nu.html">
                <h2 class="boka_nu_index">Boka nu</h2>
            </a>
        </div>
        <div class="kontakta_index">
            <a href="kontakta.html">
                <h2 class="FAQ_index">Kontakta/FAQ</h2>
            </a>
        </div>
        <div class="platser_index">
            <a href="https://www.google.se/maps?source=tldsi&hl=sv">
                <h2 class="anlaggningar_index">Våra Anläggningar</h2>
            </a>
        </div>
    </div>
    <script src="js/menu.js"></script>
</body>
</html>