        <div class="textruta">
            <h1 class="FAQ">FAQ</h1>
            <ul class="ul">
                <li class="li-FAQ">F: Erbjuder ni personliga tränare?<br>
                    A: Ja, de jobbar alla dagar i veckan mellan 10-18.
                </li>
                <li class="li-FAQ">F: Kan man få pengarna tillbaka om man inte är nöjd?<br>
                    A: Nej, men vi erbjuder en prövningsperiod till nya kunder.
                </li>
                <li class="li-FAQ">F: Kan min sjukförsäkring betala rehabiliteringen?<br>
                    A: Det får man fråga sin försäkring, men oftast brukar de göra det om man har fått en diagnos att man kräver rehabilitering.
                </li>
            </ul>
        </div>
        <div class="info">
            <p class="p-info">Telefon: 123-123 12 34<br><br>Mail: rehabilitering@mail.com</p>
        </div>
        <div class="boka_kontakta">
            <a href="boka_nu.html">
                <h2 class="boka_nu_kontakta">Boka nu</h2>
            </a>
        </div>
    </div>
    <script src="js/menu.js"></script>
</body>
</html>