<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/kontakta.css">
    <title>Document</title>
</head>
<body>
    <div class="fade-layer"></div>
    <div class="container">
        <div class="menu">
            <i class="material-icons" onclick="toggleMenu()">close</i>
            <ul>
                <a href="index.html"><li>Huvudsida<br><br></li></a>
                <a href="om_oss.html"><li>Om oss<br><br></li></a>
                <a href="boka_nu.html"><li>Boka tid<br><br></li></a>
                <a href="kontakta.html"><li>FAQ/Kontakta<br><br></li></a>
                <a href="https://www.google.se/maps?source=tldsi&hl=sv"><li>Våra anläggningar<br><br></li></a>
                <a href="erbjudande.html"><li>Erbjudande</li></a>
            </ul>
        </div>
        <header>
            <h1 class="h1-header">
                Rehabilitering
            </h1>
            <i class="material-icons" onclick="toggleMenu()">menu</i>
        </header>
        <div class="textruta">
            <h1 class="FAQ">FAQ</h1>
            <ul class="ul">
                <li class="li-FAQ">F: Erbjuder ni personliga tränare?<br>
                    A: Ja, de jobbar alla dagar i veckan mellan 10-18.
                </li>
                <li class="li-FAQ">F: Kan man få pengarna tillbaka om man inte är nöjd?<br>
                    A: Nej, men vi erbjuder en prövningsperiod till nyaw kunder.
                </li>
                <li class="li-FAQ">F: Kan min sjukförsäkring betala rehabiliteringen?<br>
                    A: Det får man fråga sin försäkring, men oftast brukar de göra det om man har fått en diagnos att man kräver rehabilitering.
                </li>
            </ul>
        </div>
        <div class="info">
            <p class="p-info">Telefon: 123-123 12 34<br><br>Mail: rehabilitering@mail.com</p>
        </div>
        <div class="boka">
            <a href="boka_nu.html">
                <h2 class="boka_nu">Boka nu</h2>
            </a>
        </div>
    </div>
    <script src="js/menu.js"></script>
</body>
</html>