body {
    background-color: black; 
}

@media only screen and (max-width: 415px) and (max-height: 737px) {
    .container {
        display: grid;
        width: 100vw;
        height: 100vh;
        background-color: white;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(10, 1fr);

    }

    header {
        grid-column: 1/6;
        grid-row: 1/2;
        background-color: #89cff0;
        display: grid;
        align-items: center;
    }

    .h1-header {
        margin: 0px;
        margin-left: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: white;
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 1px black;
    }

    .menu-icon {
        background-color: black;
        margin: 6px 0;
        grid-row: 1/2;
        grid-template: 6/7;
    }

}